/* Import FontAwesome 6 CSS */
@import url("https://use.fontawesome.com/releases/v6.0.0-beta3/css/all.css");

/* Import Product Sans font */
@import url("https://fonts.googleapis.com/css?family=Product+Sans:400,700");

@import url("theme.css");

/* Remove default html padding */
html, body {
  padding: 0;
  margin: 0;
}

html {
  /* Use Product Sans */
  font-family: 'Product Sans', sans-serif;

  background-color: var(--background-color);
  color: var(--on-background-color);

  /* Used to center the body */
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

body .background {
  background-image: url("../assets/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

body .background-filter {
  backdrop-filter: blur(2em);
  -webkit-backdrop-filter: blur(2em);
  background-color: rgba(var(--background), 0.5);
  margin: auto;
}

body .content-padding {
  padding: 1em 2em;
}

body .content-size {
  max-width: 1024px;
  margin: auto;
}

a {
  color: var(--on-background-color);
  text-decoration: none;
  font-weight: bold;
  transition: all 0.05s linear;
}

/* Adjust font size on mobile devices */
@media only screen and (max-width: 600px) {
  body {
    font-size: 0.8em;
  }
}

header {
  width: 100%;
}

footer {
  width: 100%;
}

.header-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  flex-wrap: wrap;
  gap: 1em;
}

.header-row .logo-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  flex-wrap: nowrap;
  gap: 0.25em;
}

.header-row h3 {
  margin: 0;
  font-weight: normal;
  /* Align font top */
  vertical-align: text-top;
  text-align: center;
}

.header-row .logo {
  width: 3em;
  height: 3em;
}

.header-row .spacer {
  flex: 1;
  flex-grow: 1;
  flex-shrink: 0;
}

.header-row .fa-brands {
  font-size: 1.75em;
}

main {
  text-align: center;
  gap: -1em;
}

main h2 {
  font-weight: normal;
}

main .button-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  flex-wrap: wrap;
  gap: 1em;
}

main .button {
  font-size: 1.5em;
  font-weight: normal;

  padding: 0.5em;

  border: 0.1em solid var(--on-background-color);
  border-radius: 0.5em;
}

main .button:hover {
  background-color: var(--on-background-color);
  color: var(--background-color);
}

.theme-button {
  cursor: pointer;
}

* {
  transition: all 0.05s linear;
}
