:root {
  --white: 255, 255, 255;
  --black: 0, 0, 0;

  --background: var(--black);
  --on-background: var(--white);

  --background-color: rgb(var(--background));
  --on-background-color: rgb(var(--on-background));
}
