<script type="module" src="/js/components/footer.js"></script>

<div class="container" style="margin-top: 5em;">
  <footer class="contained contained-small">
    <p>&copy; Chatsen 2025 by <a target="_blank" rel="noreferrer" href="https://github.com/williambulin"
        title="Author">williambulin</a>, logo by <a target="_blank" rel="noreferrer" href="https://twitter.com/ayyybubu"
        title="Logo Artist">ayyybubu</a></p>
    <div class="spacer"></div>
    <p id="dark-theme-button" title="Dark Theme" class="fas fa-moon clickable"></p>
    <p id="light-theme-button" title="Light Theme" class="fas fa-sun clickable"></p>
  </footer>
</div>
