<script type="module" src="/js/components/header.js"></script>

<header>
  <a href="/#" class="logo"><img alt="Logo" src="/assets/logo.png" class="logo" style="border-radius: 100%">
    <h3 class="title">Chatsen</h3>
  </a>
  <div class="spacer"></div>
  <a target="_blank" rel="noreferrer" title="Discord" href="/discord" class="fa-brands fa-discord"></a>
  <a target="_blank" rel="noreferrer" title="Patreon" href="https://patreon.com/chatsen" class="fa-brands fa-patreon"></a>
  <a target="_blank" rel="noreferrer" title="Twitter" href="https://twitter.com/chatsenapp" class="fa-brands fa-twitter"></a>
  <a target="_blank" rel="noreferrer" title="GitHub" href="https://github.com/chatsen" class="fa-brands fa-github"></a>
  <!-- <a href="/#">Home</a> -->
  <!-- <a href="/#about">About</a> -->
  <div class="spacer"></div>
  <a title="Login" id="login-button" href="#"><i class="fa fa-sign-in" aria-hidden="true"></i>  Sign in</a>
  <a id="profile-button" href="/profile" style="display: none" title="Profile" class="profile">
    <img id="profile-avatar" alt="Avatar" src="https://cdn.betterttv.net/emote/60477a2f306b602acc599abf/3x" class="avatar" style="border-radius: 100%">
    <p id="profile-name" class="profile-name">forsen</p>
  </a>
  <a id="logout-button" style="display: none" title="Logout" href="#"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
</header>
