header {
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: rgba(var(--background), 0.75);
  border-bottom: 0.075em solid rgba(var(--on-background), 0.0);
  backdrop-filter: blur(0em);
}

header:hover {
  border-bottom: 0.075em solid rgba(var(--on-background), 0.2) !important;
  backdrop-filter: blur(2em);
}

header.scrolled {
  border-bottom: 0.075em solid rgba(var(--on-background), 0.1);
  backdrop-filter: blur(2em);
}
