@import url('/kyouyuu/css/style.css');
@import url('/kyouyuu/css/components/background.css');

.home-flex {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-items: center;
  gap: 1em;
}

@media only screen and (max-width: 900px) {
  .home-flex {
    flex-direction: column;
  }
}

.home-tagline {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.home-tagline .title {
  font-size: 3em;
  font-weight: bold;
}

.home-tagline a {
  color: var(--on-background-color);
  font-weight: bold;
}

.home-tagline a:hover {
  color: rgba(var(--on-background), 0.5);
}

.home-tagline .description {
  font-size: 1.5em;
}

.home-preview {}

.home-preview .center {
  margin: auto;
}

.home-features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-features h3 {
  font-weight: normal;
}

.phone-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.phone-row .phone {
  transform: perspective(1500px) rotateX(11deg) rotateY(-11deg) rotateZ(4deg);
  background: linear-gradient(135deg, #D81554DD, #F6623EDD), linear-gradient(to right, var(--background-color), var(--background-color));
  border-radius: 1em;
  width: 60%;
  margin: 4em 0em;
  padding: 2px;
}

@media not all and (min-resolution:.001dpcm) {
  .phone-row .phone {
    transform: none;
  }
}

/* On mobile devices */
@media only screen and (max-width: 685px) {
  .phone-row .phone {
    transform: none;
  }
}

.phone-row .phone .content {
  border-radius: 1em;
  width: 100%;
  height: 100%;
  max-height: 60em;
}

.button-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}

.button {
  font-size: 1.5em;
  font-weight: normal;
  padding: 0.5em;
  border: 0.1em solid var(--on-background-color);
  border-radius: 0.5em;
}

.feature-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1em;
}

.feature-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  border: 0.1em solid rgba(var(--on-background), 0.1);
  padding: 2em;
  background-color: rgba(var(--on-background), 0.1);
  backdrop-filter: blur(2em);
  border-radius: 1em;
  gap: 1em;
}

.feature-card:hover {
  border: 0.1em solid rgba(var(--on-background), 0.2);
}

@media only screen and (max-width: 685px) {
  .feature-grid {
    grid-template-columns: 100%;
  }
}

.feature-header-title {
  padding: 0;
  margin: 1em;
  font-size: 3em;
  font-weight: bold;
}

.feature-card .icon {
  font-size: 3em;
  padding: 0;
  margin: 0;
  color: transparent;
  background: linear-gradient(135deg, #D81554DD, #F6623EDD), linear-gradient(to right, var(--background-color), var(--background-color));
  background-clip: text;
}

.feature-card .title {
  padding: 0;
  margin: 0;
  font-size: 2em;
  font-weight: bold;
}

.feature-card .subtext {
  color: rgba(var(--on-background), 0.5);
  padding: 0;
  margin: 0;
  font-size: 1.25em;
}
